PORT=4000
NODE_ENV=production
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/dbname
REDIS_URL=redis://default:password@host:port
AURA_API_BASE_URL=https://aurahub-api-hono.ashwathama249.workers.dev
UPLOAD_FOLDER_ID=your_streamtape_folder_id
CRON_SECRET=aurahub_cron_secret_key_2026
MAX_CLONES_PER_RUN=5

# Threshold in minutes: e.g. 1 for 1 min, 60 for 1 hr, 1440 for 1 day, 108000 for 75 days
AGING_MINUTES_THRESHOLD=60
